@model BTL.Models.HDX

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HDX</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tongtien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tongtien)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaHD }) |
    @Html.ActionLink("Back to List", "Index")
</p>
